[COS_ACCOUNT_0]
cos_secretid = XXXXXX
cos_secretkey = XXXXXX
cos_bucket = {bucket name}-123
cos_region = ap-xxx
home_dir = /home/user0
ftp_login_user_name=user0
ftp_login_user_password=pass0
authority=RW

[COS_ACCOUNT_1]
cos_secretid = XXXX
cos_secretkey = XXXXX
cos_bucket = {bucket name}-123
cos_region = ap-xxx
home_dir = /home/user1
ftp_login_user_name=user1
ftp_login_user_password=pass1
authority=RW

[COS_ACCOUNT_2]
cos_secretid = XXXX
cos_secretkey = XXXXX
cos_bucket = {bucket name}-123
cos_region = ap-xxx
home_dir = /home/user2
ftp_login_user_name=user2
ftp_login_user_password=pass2
authority=RW

[NETWORK]
masquerade_address = XXX.XXX.XXX.XXX
listen_port = 2121

#passive_port可以设置passive模式下，端口的选择范围，默认在(60000, 65535)区间上选择
passive_port = 60000,65535

[FILE_OPTION]
# 默认单文件大小最大支持到200G，不建议设置太大
single_file_max_size = 214748364800

[OPTIONAL]
# 以下设置，如无特殊需要，建议保留default设置  如需设置，请合理填写一个整数
min_part_size       = default
upload_thread_num   = default
max_connection_num  = 100
max_list_file       = 10000
log_level           = DEBUG
log_dir             = log